@import 'materialize';

ul li {
  list-style-type: disc !important;
}

body {
  list-style-type: disc !important;
}


.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ember-power-select-option  {
  @extend .aligner
}

.ember-power-select-trigger  {
  text-align: center;
}

.copy {
  @extend .green, .btn-large; 
  text-align: center;
  line-height: inherit;
  margin-right:5px;
}

.w100 {
  width: 100%;
}

@import 'ember-paper';
@import "ember-power-select";


h3 {
  margin: 5px !important;
}

.last {
  @extend .grey-text, .center;
  margin-bottom: 15px;
}